.header {
    position:fixed ;
    max-height: 110px;
    top: 0;
    left: 0;
    padding: 20px 0;
    margin-bottom: 150px;
    width: 100%;
    background-color: red;
    z-index: 2;
}
.logo{
    color: green;
    text-transform: uppercase;
}
.main{
    margin-top: 100px;
}
.carsouel-image{
    max-height: 600px;
}
.card-image{
    width: 100%;
}
.section{
    padding: 0 50px;
}